// Widget Header
.widget-header {
  background:$blue;
  color:$off-white;
  display:flex;
  justify-content: space-between;
  padding:$m-size;

}

// Challenge time 
// setup an element Selector for widget-header
// set margin
// use the class 