// Add Option Error
.add-option-error {
  color:$off-white;
  font-size: italic;
  margin: $m-size 0 0 0 ;
  padding:0 $m-size;
}

.add-option {
  display:flex;
  padding:$m-size;

}
.add-option__input {
  background:$dark-blue;
  border:none;
  color:$off-white;
  border-bottom:0.3rem solid darken($dark-blue,10%);
  flex-grow:1;
  margin-right:$s-size;
  padding:$s-size;

}