// Big Button 
.big-button {
  background: $purple;
  border:none;
  border-bottom: .6rem solid darken($color: $purple, $amount: 10%);
  color:white;
  font-weight:bold;
  font-size:$l-size;
  margin-bottom:$m-size;
  padding:2.4rem;
  width:100%;

}
// sass reference function 
//https://www.rubydoc.info/gems/sass/Sass/Script/Functions

.big-button:disabled{
  opacity: 0.5;
}
// Button 
.button {
background:$purple;
border:none;
border-bottom: .3rem solid darken($purple,10%);
font-weight:500;
padding:$s-size;
}

.button--link{
  background:none;
  border:none;
  color:$off-white;
  padding:0;
}
// bem
//  modifierw instead of two underscors we use two hyphens 
@media (min-width:$desktop-breakpoint){
  .big-button{
    
   margin-bottom:$xl-size
  } 
 }