*{
  color:red;
}
/* 
npmjs.com/package/css-loader
https://www.npmjs.com/package/css-loader
npmjs.com/package/style-loader
https://www.npmjs.com/package/style-loader

yarn add sytle-loader@0.18.2 css-loader@0.28.4
 */
